[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg2-binary = "*"
tqdm = "*"
geopandas = "*"
pandas = "*"
shapely = "*"
matplotlib = "*"
fiona = "*"
pyproj = "*"
rtree = "*"
scikit-learn-extra = "*"
numpy = "<2"
networkx = "*"
pymetis = "*"
inquirerpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
